.header-block {
	display: inline-block;
	top: 0;
	width: 100%;	
	position: fixed;
	border: solid;
	border-color: #F6F8F9;
	height: 50px;
	background-color: #F6F8F9;
}
.logo-p {
	width: 38px;
	height: 15px;
	font-size: 13px;
	color: #FA6980;
	display: inline-block;
	font-family: 'Helvetica-1';
	vertical-align: middle;
	margin-left: 20px;
}
.home-p {
	width: 33px;
	height: 12px;
	font-size: 11px;
	color: #343638;
	display: inline-block;
	margin: 9px 0 9px 92px;
	font-family: 'Helvetica-1';
	opacity: 100%;
	vertical-align: middle;
}
.discovery-p {
	width: 64px;
	height: 12px;
	font-size: 11px;
	color: #343638;
	display: inline-block;
	margin: 9px 0 9px 27px;
	font-family: 'Helvetica-1';
	opacity: 50%;
	vertical-align: middle;
}
.photos-p {
	width: 46px;
	height: 12px;
	font-size: 11px;
	color: #343638;
	display: inline-block;
	margin: 9px 0 9px 22px;
	font-family: 'Helvetica-1';
	opacity: 50%;
	vertical-align: middle;
}
.contact-p {
	width: 53px;
	height: 12px;
	font-size: 11px;
	color: #343638;
	display: inline-block;
	margin: 9px 40px 9px 22px;
	font-family: 'Helvetica-1';
	opacity: 50%;
	vertical-align: middle;
}
.user-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 50%;
	margin: 9px 0;
	vertical-align: middle;
}
.trending-sec {
	background-color: #F6F8F9;
	border: solid;
	border-color: #F6F8F9;
}
.trending-main-block {
	margin-left: 140px;
	margin-top: 75px;
}
.section-title-1 {
	width: 1025px;
	height: 20px;
	font-size: 24px;
	color: #202124;
	margin-bottom: 40px;
	font-family: 'Helvetica-1';
}
.img-1 {
	position: relative;
}
.img-text-1 {
	position: absolute;
	top: 163px;
	left: 180px;
	width: 280px;
	height: 16px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Helvetica-1';
}
.trending-text-1 {
	width: 280px;
	height: 38px;
	font-size: 13px;
	color: #A6ADB4;
	margin:  76px 40px 10px 40px;
	display: inline-block;
	font-family: 'Acumin Pro';
}
.time {
	margin: 10px 254px 40px 40px;
	width: 69px;
	height: 16px;
	display: inline-block;
}
.img-2 {
	position: relative;
}
.img-text-2 {
	position: absolute;
	top: 163px;
	left: 580px;
	width: 280px;
	height: 16px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Helvetica-1';
}
.trending-text-2 {
	width: 280px;
	height: 38px;
	font-size: 13px;
	color: #A6ADB4;
	margin:  76px 40px 10px 40px;
	display: inline-block;
}
.img-3 {
	position: relative;
}
.img-text-3 {
	position: absolute;
	top: 163px;
	left: 980px;
	width: 280px;
	height: 16px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Helvetica-1';
}
.trending-text-3 {
	width: 280px;
	height: 38px;
	font-size: 13px;
	color: #A6ADB4;
	margin:  76px 40px 10px 40px;
	display: inline-block;
}
.trending-text-box {
	border: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}
.time-icon {
	width: 16px;
	height: 16px;
	color: #CBD0D3;
	vertical-align: top;
}
.time-p {
	vertical-align: top;
	width: 43px;
	height: 15px;
	font-size: 13px;
	color: #A6ADB4;
	display: inline-block;
	padding-left: 10px;
	font-family: 'Helvetica-3';
}

.trending-block-1 {
	display: inline-block;
	width: 360px;
	height: 360px;

}
.trending-block-2 {
	display: inline-block;
	margin-left: 40px;
	width: 360px;
	height: 360px;
}
.trending-block-3 {
	display: inline-block;
	margin-left: 40px;
	width: 360px;
	height: 360px;
}
.happening-now {
    background-color: #F6F8F9;
    border: solid;
    border-color: #F6F8F9;
}
.section-title-2 {
	color: #202124;
	width: 770px;
	height: 20px;
	font-size: 24px;
	margin-bottom: 40px;
	font-family: 'Helvetica-1';
}
.section-block-2 {
	margin: 58px 140px 37px 140px;
}
.left-block {
	display: inline-block;
	vertical-align: top;
	width: 760px;
	height: 900px;
}
.right-block {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	height: 834px;
}
.img-left-1 {
	margin-bottom: 40px;
}
.img-r-1 {
	margin: 0 140px 102px 40px;
}
.img-r-2 {
	margin: 0 140px 102px 40px;
}
.img-r-3 {
	margin-left: 40px;
}
.footer-block {
	height: 84px;
	margin: 56px 138.76px 57px 142px;
}
.footer {
	background-color: #A6ADB4;
	border: solid;
	border-color: #A6ADB4;
}
.footer-1 {
	display: inline-block;
	vertical-align: top;
	width: 37px;
	height: 13px;
	font-size: 13px;
	color: #FFFFFF;
	font-family: 'Acumin Pro-Bold';
}
.footer-2 {
	display: inline-block;
	vertical-align: top;
	width: 62px;
	height: 84px;
	font-size: 13px;
	color: #CBD0D3;
	margin-left: 89.14px;
	font-family: 'Helvetica-1';
}
.footer-3 {
	display: inline-block;
	vertical-align: top;
	margin-left: 70.56px;
	font-size: 13px;
	color: #CBD0D3;
	font-family: 'Helvetica-1';
}
.footer-4 {
	display: inline-block;
	vertical-align: top;
	margin-left: 86.34px;
	font-size: 13px;
	color: #CBD0D3;
	font-family: 'Helvetica-1';
}
.footer-5 {
	display: inline-block;
	vertical-align: top;
	margin-left: 104.91px;
	margin-right: 165.24px;
	font-size: 11px;
	color: #CBD0D3;
	font-family: 'Helvetica-2';
}
.footer-6 {
	display: inline-block;
	vertical-align: top;
}
.footer-line-1 {
	margin-bottom: 8px;
}
.footer-line-2 {
	margin-bottom: 8px;
}
.footer-line-3 {
	margin-bottom: 8px;
}
.insta-icon {
	margin-right: 32px;
}
.twit-icon {
	margin-right: 32px;
}
.fb-icon {
	margin-right: 32px;
}
